.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Caveat', cursive;
}
h1 {
  font-size: 3.4375rem;
}
h2 {
  font-size: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-size: 1.5rem;
}
.container .logo {
  width: 3.75rem;
}
.container .sobre-lista {
  width: 100%;
  margin: 1.25rem 0;
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
.container .sobre-link {
  max-width: 3.125rem;
  min-height: 3.125rem;
  transition: 0.2s ease-in-out;
}
.container .sobre-link:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.container .sobre {
  font-size: 1.0625rem;
  max-width: 31.25rem;
  padding: 1.25rem;
  margin: 0 0.9375rem 0;
  line-height: 1.5;
  background-color: #05204A;
  border: 5px solid #272838;
  border-radius: 1.25rem;
}
.container .projects-container {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .project {
  max-width: 15.625rem;
  height: 21.25rem;
  padding: 0.625rem 0.5rem;
  margin: 0 0.75rem 0.9375rem;
  background-color: #05204A;
  border: 0.3125rem solid #272838;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.container .project h3 {
  font-size: 1.125rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0.4375rem;
}
.container .project img {
  width: 100%;
  height: 7.8125rem;
  transition: 0.2s ease-in-out;
}
.container .project img:hover {
  transform: scale(1.05);
}
.container .project p {
  overflow-y: scroll;
  margin-right: 0.3125rem;
}
.container .project-button {
  background-color: #050401;
  color: #ffffff;
  font-size: 1rem;
  margin: 1.25rem 0 0.625rem;
  padding: 0.5rem 1.875rem;
  border: none;
  border-radius: 0.4375rem;
  transition: 0.1s ease-in-out;
}
.container .project-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #303036;
}
.container .skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .hard-container {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.125rem dashed black;
  margin-bottom: 2.5rem;
}
.container .hard-lista {
  list-style: none;
  margin: 1.875rem 0.9375rem 2.5rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .hard-lista li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.container .hard-lista img {
  width: 3.125rem;
}
.container .soft-container{
  margin-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .soft-lista {
  list-style: none;
  margin: 1.875rem 0.9375rem 1.875rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .soft-lista li {
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
  padding: 0.3125rem;
  background-color: #05204A;
  border: 0.1875rem solid #272838;
  border-radius: 0.625rem;
}
.container .contacts-lista {
  list-style: none;
}
.container .contacts-lista li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.25rem 0 1.25rem;
}
.container .contacts-lista img {
  max-width: 3.75rem;
  min-height: 3.75rem;
  transition: 0.15s ease-in-out;
}
.container .contacts-lista img:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.escondido {
  display: none;
}
.menu {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin: 1.875rem 0 1.25rem;
  padding: 0 1.25rem 0;
  width: 100%;
  justify-content: center;
}
nav a {
  background-color: #177E89;
  color: #ffffff;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 0.4375rem;
  transition: 0.1s ease-in-out;
}
nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #13626b;
}
.spin {
  animation:spin 8s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container .botao-avancar {
  background-color: #177E89;
  color: #ffffff;
  margin: 1.875rem 0 2.5rem;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 0.4375rem;
  transition: 0.1s ease-in-out;
}
.container .botao-avancar:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #13626b;
}
@media screen and (max-width: 500px) {
  .container h1 {
    font-size: 2.5rem;
    margin: 0 0.4375rem 0;
  }
  .container h2 {
    font-size: 1.875rem;
    flex-direction: column;
    margin: 0 0.4375rem 0;
  }
  .container .sobre-link {
    max-width: 2.1875rem;
  }
}
@media screen and (max-width: 380px) {
  .container h1 {
    font-size: 2.1875rem;
  }
  .container h2 {
    font-size: 1.5rem;
    flex-direction: column;
  }
}