* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  line-height: 1.25;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 25px;
}
body {
  font-size: 1rem;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,21,121,1) 50%, rgba(125,0,255,1) 100%);
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  justify-content: center;
}
nav button {
  padding: 1px 6px;
}
nav a {
  color: #2a2525;
  text-decoration: none;
}