* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
/* 
Grande Tela : 1200px
Notebook : 990px
Tablet : 770px
Celular : 640px
*/
body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(180deg, rgba(39,40,56,1) 0%, rgba(46,64,82,1) 50%, rgba(13,59,102,1) 100%);
  color: #ffffff;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1, h2, h3 {
  font-family: 'Caveat', cursive;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-size: 24px;
}
.container .logo {
  width: 60px;
}
.container .sobre-lista {
  width: 100%;
  margin: 20px 0;
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.container .sobre-link {
  max-width: 50px;
  min-height: 50px;
  transition: 0.1s ease-in-out;
}
.container .sobre-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.container .sobre {
  font-size: 17px;
  max-width: 500px;
  padding: 20px;
  line-height: 1.5;
  background-color: #05204A;
  border: 5px solid #272838;
  border-radius: 20px;
}
.container .projetos-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .projeto {
  max-width: 250px;
  height: 340px;
  padding: 10px 8px;
  margin: 0 12px 15px;
  background-color: #05204A;
  border: 5px solid #272838;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container .projeto h3 {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 7px;
}
.container .projeto img {
  width: 100%;
  height: 125px;
  transition: 0.2s ease-in-out;
}
.container .projeto img:hover {
  transform: scale(1.05);
}
.container .projeto p {
  overflow-y: scroll;
  margin-right: 5px;
}
.container .projeto-botao {
  background-color: #050401;
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0 10px;
  padding: 8px 30px;
  border: none;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}
.container .projeto-botao:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #303036;
}

.container .skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .hard-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dashed black;
  margin-bottom: 40px;
}
.container .hard-lista {
  list-style: none;
  margin: 30px 15px 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .hard-lista li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container .hard-lista img {
  width: 50px;
}
.container .soft-container{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .soft-lista {
  list-style: none;
  margin: 30px 15px 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .soft-lista li {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  padding: 5px;
  background-color: #05204A;
  border: 3px solid #272838;
  border-radius: 10px;
}

.container 

.escondido {
  display: none;
}
.menu {
  display: flex;
  gap: 20px;
  padding: 30px 0 20px;
  width: 100%;
  justify-content: center;
}
nav a {
  background-color: #177E89;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}
nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #13626b;
}
.spin {
  animation:spin 8s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container .botao-avancar {
  background-color: #177E89;
  color: #ffffff;
  margin: 30px 0 40px;
  padding: 8px 20px;
  border: none;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}
.container .botao-avancar:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #13626b;
}